@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@font-face {
    font-family: painter;
    src: url(Painter.ttf);
  }
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
  
  /* BASIC */
  .alerts2{
    position: fixed;left: 44%; top: 75%;
    text-align: center;
      padding:15px;
      margin-bottom:20px;
    
    }
  
  .alerts22{
    position: relative;
    top:100%;
    text-align: center;
    margin: auto auto;
    
  }
  .alerts3{
    position: relative;
    top:100%;
    left:0%;
    margin: auto;
    max-width: 500px;
    padding: auto;
    
  }
  .alerts-danger{
    color:#a94442;
    background-color:#f2dede;
    border-color:#ebccd1;
  }
  
  .ggg {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    padding: 0px;
    text-align: center;
  }
  
  body {
    height: 100vh; 
    width: 100vw; 
    position: relative;
  }
  
  a {
    font-size: 14px;
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  #logo_id{
    font-family: painter;
    text-align: center;
    font-size: 35px;
    position: absolute;
    width: 100%;
    padding: 20px 0;
  }
  
  .login_ui_container{
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
    height: 100%;
  }
  
  #formContent {
    border-radius: 6px;
    width: 350px;
    position: relative;
    padding: 50px 0 0 0;
    /* box-shadow: 0 4px 10px 2px rgba(0,0,0,0.3); */
    text-align: center;
  }
  
  #formFooter {
    padding: 25px;
    text-align: center;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4); */
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=password] {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    border: 2px solid #e2e0e0;
    border-radius: 5px;
  }
  
  input[type=text]:focus , input[type=password]:focus{
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder , input[type=password]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    text-decoration: none;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  #reg_password_input_id text1 {
    font: small-caption;
    font-size: 16px;
  }