@font-face {
    font-family: painter;
    src: url(Painter.ttf);
  }
  
body{
    /*background-color: #191A17;*/
    /* background: radial-gradient(#377973, #65bbb4, #4a817d */
    /* background-image: url("bg2.jpg"); */
    background: radial-gradient(#535551, #6e7267, #6e7267);
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }

  #logo_id{
    color: white;
    font-family: painter;
    text-align: center;
    font-size: 35px;
  }
  
  .login_ui_container{
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btncenter{
    position: fixed;
    top:  60%;
    left: 49%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .sign_up{
    text-align: center;
    color: white;
    opacity: 0.6;
    transition: 0.3s;
    font: small-caption;
    cursor: pointer;
  }
  .sign_up:hover{
    opacity: 1;
  }